@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
body {
  margin: 0;
}

section {
  font-family: "Jura", sans-serif;
}
strong {
  font-family: "Teko", sans-serif;
  font-size: 29px;
}

/* Header Section */
#header{
  width: 100%;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 0px 150px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  gap: 80px;
}

#logo {
  width: 150px;
}

.icons {
  margin-top: 15px;
  height: 40px;
  filter: invert(55%) sepia(22%) saturate(759%) hue-rotate(195deg)
    brightness(88%) contrast(92%);
}

.contact {
  display: flex;
}
.contact-icons {
  transition: 0.3s;
}

.contact-icons:hover {
  padding-bottom: 10px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
}

.contact-text {
  margin-top: 10px;
  margin-left: 15px;
}
nav {
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #1f2c8c;
  color: #fff;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

#current {
  border-bottom: solid;
  border-width: 5px;
  border-color: #ceaf78;
}

.nav-text {
  margin: 0px;
  font-size: 20px;
  padding: 10px 0px;
}

a:hover {
  border-bottom: solid;
  border-width: 5px;
  border-color: #ceaf78;
  transition: 0.1s;
}
/* Hero Section */
#hero-section{
  width: 100%;
  overflow-x: hidden;
}
.hero-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  background-image: url(../img/hero-section/people-roof-talking-roof.jpg);
  position: absolute;
}

.header-text {
  margin: 0;
  padding-top: 5px;
  font-size: 15px;
}

.cell-no {
  margin: 0;
  margin-top: 5px;
  font-size: 20px;
  color: #d0b27e;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  height: 200px;
  margin-top: 400px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.banner-text {
  font-size: 40px;
  color: #fff;
  padding-top: 30px;
}

.button {
  margin-top: 70px;
  font-family: "Jura", sans-serif;
  background-color: #ceaf78;
  border: none;
  color: #fff;
  padding: 25px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.5s;
}

button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #1f2c8c;
}
#hb-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
#hb-box2,
#hb-box3 {
  margin: 0px;
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#hero-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.hb-icon {
  width: 80px;
  filter: invert(65%) sepia(40%) saturate(355%) hue-rotate(360deg)
    brightness(103%) contrast(85%);
}
.smol-btn {
  font-family: "Jura", sans-serif;
  background-color: #ceaf78;
  border: none;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.5s;
}

button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #1f2c8c;
}
.hb-text {
  margin: 0;
  font-size: 20px;
}
.hb-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hb-title strong{
  font-weight: 500;
}

/* Introduction Section */
#introduction {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 72rem;
}
.intro-title{
  font-size: 20px;
  padding: 0px 100px;
  letter-spacing: 9px;
}
.intro-text {
  margin: 0;
  font-size: 20px;
  padding: 0px 100px;
}
.title {
  margin: 0;
  font-size: 50px;
  font-family: "Teko", sans-serif;
}
.colorBlue {
  color: #1f2c8c;
}

/* Services Section */
.serv-box {
  margin: 0px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}
.serv-title strong{
  font-weight: 500;
  font: 32px;
}
#services {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
  height: fit-content;
}
.sev-text {
  margin: 20px 0;
  font-size: 20px;
}
.border {
  width: 100px;
  border-top: 2px solid #d0b27e;
}

/* Mission Section */
#mission {
  height: 624px;
  margin-top: 100px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  overflow: hidden;
}
.mission-text{
    margin: 0;
    font-size: 20px;
}
#mission-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 50px;
  gap: 10px;
  background-color: #1f2c8c;
  color: #fff;
  width: 47%;
}

#imgbox {
  width: 50%;
  overflow: hidden;
}
.mission-btn {
  margin-top: 30px;
  font-family: "Jura", sans-serif;
  background-color: #ceaf78;
  border: none;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.5s;
}
.mission-btn:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

/* FEATURED SECTION */
#featured {
  overflow: hidden;
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.featured-title {
  margin: 0;
  font-size: 50px;
  font-family: "Teko", sans-serif;
}
.featured-text {
  margin: 0;
  font-size: 20px;
}
.carousel {
  margin: 100px 0px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.slider {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  gap: 35px;
  overflow: hidden;
}
.slider section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .controls{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls .arrow{
    cursor: pointer;
}
.left, .right{
  width: 32%;
  height: 400px;
}
.buttons{
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px
}
.slider-btn{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #1f2c8c;
  cursor: pointer;
}
.selected{
  background-color:#1f2c8c;
}
.featured-img{
  width: 483px;
  height: 355px;
}
/* Footer Top */
footer{
  width: 100%;
  font-family: "Jura", sans-serif;
  color: #fff;
  background-color: #1f2c8c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 50px;
}
#footerTop{
  margin-top: 100px;
}
#footerTop h1{
  font-size: 50px;
  letter-spacing: 1px;
}
#contact-num{
  color: #ceaf78;
  padding: 10px;
}
#footerNav{
  width: 100%;
}
#footer-title{
    margin: 0;
    font-size: 20px;
    letter-spacing: 5px;
}
.footer-text {
  margin: 0px;
  font-size: 20px;
  padding: 10px;
}
hr{
  margin-top: 50px;
  width: 80%;
  color: #fff;
}
#smol-nav{
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #1f2c8c;
  color: #fff;
  padding: 10px 150px;
}
/* MISC */
#burger-btn, #smol-brg{
  display: none;
  border: none;
  cursor: pointer;
  background-color: #1f2c8c;
}
#burger-btn img, #smol-brg img{
  width: 40px;
}
@media screen and (max-width: 1284px) {
  #smol-nav{
    justify-content: center;
   }
   #smol-nav a{
    display: none;
   }
   #smol-brg{
    display: block;
   }
}
@media screen and (max-width: 1047px) {
.info{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
  order: 1;
}
 header{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  overflow: hidden;
  height: 180px;
  padding: 0px 20px;
 }
 .header-nav a{
  display: none;
 }
 .header-nav{
  justify-content: start;
 }
 #burger-btn{
  display: block;
 }

 #logo{
  position: relative;
  width: 300px;
  top:59px;
  order: -1;
 }
 .contact{
  justify-content: space-between;
  position: relative;
  bottom: 60px;
 }
 .socials{
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
}
@media screen and (max-width: 1030px){
  .button{
    margin: 0px;
   }
   .banner{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 40px;
   }
   .banner-text{
    height: 30px;
    margin: 0px;
   }
   #button-wrapper{
    height: 100px;
   };
   .hero-content{
    height: 800px;
   }
}
@media screen and (max-width: 1476px){
 #introduction{
    margin-top: 1500px;
  }
}
@media screen and (min-width: 1476px){
  #introduction{
    margin-top: 1100px;

  }
}
@media screen and (max-width: 770px){
  #introduction {
    margin-top: 1800px;
  }
}
@media screen and (max-width: 711px)  {
  .banner-text{
    text-align: center;
  }
  .banner-text p{
    font-size: 30px;
  }
}
@media screen and (max-width: 676px){
  #introduction {
    margin-top: 1600px;
  }
  #hb-img{
    width: 380px;
  }
  .info{
    position: relative;
    top:30px
  }
  #logo{
    width: 200px;
    top:30px
  }
  .info p{
    font-size: 10px;
  }
  .info img{
    width: 30px;
    height: auto;
  }
}
@media  screen and (max-width: 434px) {
  #hb-img{
    width: 380px;
  }
  #mission-text{
    padding: 15px;
  }
  #mission-text h1{
    font-size: 30px;
  }
  #mission-text p{
    font-size: 15px;
  }
  #mission-text button{
    font-size: 15px;
  }
  .intro-text{
    padding: 0 10px;
  }
  #hero-bottom{
    gap: 0px;
  }
  #hb-wrapper{
    margin-top: 10px;
  }
}