body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 0px 150px;
}
.info{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 16%;
    gap: 100px;
}
#logo{
    width: 150px;
}
.icons{
    margin-top: 15px;
    height: 40px;
}
.contact{
    display: flex;
}
.contact-text{
    margin-top: 10px;
    margin-left: 15px;
}
nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1F2C8C;
    color: #fff;
    padding: 0px 150px;
}
.hero-content{
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-image: url(../img/people-roof-talking-roof.jpg);
}