body {
  margin: 0;
}

section {
  font-family: "Jura", sans-serif;
}
strong {
  font-family: "Teko", sans-serif;
  font-size: 29px;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 0px 150px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  gap: 80px;
}

#logo {
  width: 150px;
}

.icons {
  margin-top: 15px;
  height: 40px;
  filter: invert(55%) sepia(22%) saturate(759%) hue-rotate(195deg)
    brightness(88%) contrast(92%);
}

.contact {
  display: flex;
}
.contact-icons {
  transition: 0.3s;
}

.contact-icons:hover {
  padding-bottom: 10px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
}

.contact-text {
  margin-top: 10px;
  margin-left: 15px;
}

nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1f2c8c;
  color: #fff;
  padding: 10px 150px;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

#current {
  border-bottom: solid;
  border-width: 5px;
  border-color: #ceaf78;
}

.nav-text {
  margin: 0px;
  font-size: 20px;
  padding: 10px 0px;
}

a:hover {
  border-bottom: solid;
  border-width: 5px;
  border-color: #ceaf78;
  transition: 0.1s;
}
.hero-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  background-image: url(../img/hero-section/people-roof-talking-roof.jpg);
  position: absolute;
}

.header-text {
  margin: 0;
  padding-top: 5px;
  font-size: 15px;
}

.cell-no {
  margin: 0;
  margin-top: 5px;
  font-size: 20px;
  color: #d0b27e;
}

.banner {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  height: 200px;
  margin-top: 400px;
  margin-bottom: 50px;
}

.banner-text {
  font-size: 40px;
  color: #fff;
  padding-top: 30px;
}

.button {
  margin-top: 70px;
  font-family: "Jura", sans-serif;
  background-color: #ceaf78;
  border: none;
  color: #fff;
  padding: 25px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.5s;
}

button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #1f2c8c;
}

#hb-box2,
#hb-box3 {
  margin: 0px;
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#hero-bottom {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  gap: 50px;
}
.hb-icon {
  width: 80px;
  filter: invert(65%) sepia(40%) saturate(355%) hue-rotate(360deg)
    brightness(103%) contrast(85%);
}
.smol-btn {
  font-family: "Jura", sans-serif;
  background-color: #ceaf78;
  border: none;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.5s;
}

button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #1f2c8c;
}
.hb-text {
  margin: 0;
  font-size: 20px;
}
.hb-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75rem;
}
.intro-text {
  margin: 0;
  font-size: 20px;
}
.intro-title {
  margin: 0;
  font-size: 50px;
  font-family: "Teko", sans-serif;
}
.colorBlue {
  color: #1f2c8c;
}

.serv-box {
  margin: 0px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}
#services {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 500px;
}
.border {
  width: 100px;
  border-top: 2px solid #d0b27e;
}
#mission {
  margin-top: 100px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
}
#mission-text {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1f2c8c;
  color: #fff;
  padding-left: 50px;
  width: 50%;
}
#mission-img {
  overflow: hidden;
}
.mission-btn {
  margin-top: 30px;
  font-family: "Jura", sans-serif;
  background-color: #ceaf78;
  border: none;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.5s;
}
.mission-btn:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
#featured {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.featured-title {
  margin: 0;
  font-size: 50px;
  font-family: "Teko", sans-serif;
}
.featured-text {
  margin: 0;
  font-size: 20px;
}
.carousel {
  margin: 100px 0px;
  border: 2px solid #000;
  width: 100%;
  height: 400px;
}
.slider {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}
.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .controls{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls .arrow{
    cursor: pointer;
}